@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* primary styles */
.primary-p{
    color: #3E3E3E;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 28px;
}
.btn-primary{
    padding: 12px;
    border-radius: 5px;
    background: #FF5959;
    color: #FFF;
    border: 0;
    transition: transform 1s ease-out;
}
.btn-primary:hover{
    transform: scale(1.2);
}
.title-primary{
    color: #13103A;
text-align: center;
font-size: 3em;
font-weight: 700;
line-height: 70px; /* 145.833% */
}
.title-primary>span{
    color: #FFAD5A;
}
section{
    max-width:1440px ;
    margin: 0 auto;
    margin-bottom: 100px;
}
/* hero section */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/shapes/shape-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 29% bottom 40%;
    gap: 100px;
    margin-top: 130px;
    

}
.hero-text{
    flex: 1;

}
.hero-text>h1{
    color: #333;
font-family: "Yeseva One";
font-size: 4.2rem;
font-weight: 400;
line-height: 80px;
}
.hero-text>h1>span{
    color: #FFAD5A;
    font-family: "Yeseva One";
}
.hero-text> p{
    margin: 15px 0;
}
.hero-img{
    flex: 1;
}
.hero-img>img{
    width: 50%;
}
/* my mission section */
.my-mission-title{
    text-align: center;
    margin-bottom: 20px;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card{
    border-radius: 26px;
    background: rgba(79, 157, 166, 0.10);
    padding: 33px 13px 43px 32px;
}
.card>img{
    height: 126px;
    width: 126px;
}
.card>h5{
    color: #000;
font-size: 1.6rem;
font-weight: 600;
}
/* documentation */
.top{
    display: flex;
    align-items: center;
    gap: 72px;
}
.top-img{
    position: relative;
}
.coding-img{
    position: relative;
    z-index: 1;
}
.top-img>img{
    width: 100%;
}

.circle{
    width: 227px;
    height: 227px;
    position: absolute;
    bottom: 154px;
    left: -117px;
}
.circle>img{
    width: 100%;
}
.top-text >h4{
    color: #333;
font-size: 2.4rem;
font-weight: 700;
}
.down{
    flex-direction: row-reverse;
}
.circle-2{
    width: 227px;
    height: 227px;
    position: absolute;
    bottom: -100px;
    right: -117px;
}
.circle-2>img{
    height: 100%;
    width: 100%;
}













@media screen and (max-width:576px){
    .hero{
        flex-direction: column;
        background-position: bottom;
        gap: 40px;
    }
    .hero-img>img{
        width: 100%;
    }
    /* my mission  */
    .card-container{
        flex-direction: column;
    }
    /* documentation */
    .top{
        flex-direction: column;
    }
    .circle{
        bottom: 176px;
        left: 49px;
    }
    .circle-2{
        bottom: -66px;
        right: 16px;
    }
    .down{
        margin-top: 20px;
    }
}
@media screen and (min-width:577px) and (max-width:992px){
    .hero-img>img{
        width: 100%;
    }
    .hero{
        background-image: none;
        background-position: right;
        padding: 30px;
    }
    .hero-text>h1{
        color: #333;
    font-family: "Yeseva One";
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 60px;
    }
    .hero-text> p{
        font-size: 1rem;
    }
    /* my mission */
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .dcard-3{
        grid-column: 1 / span 3;
        margin-right:24px;
    }
}